<footer>
    <div class="container">
            <div class="footer-top">
                    <div class="row">
                            <div class="col-md-5">
                                <h6>Be in touch</h6>
                                <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. At itaque temporibus.</p>
                                <form action="#">
                                    <input type="email" placeholder="Your Email Address" >
                                    <button><img src="{{ url_for('static', filename='images/email.png') }}" alt=""></button>
                                </form>
                            </div>
                            <div class="col-md-7">
                                <div class="row">
                                    <div class="col-md-4">
                                            <h6>Shop</h6>
                                            <ul >
                                              <li> <a href="#">For Women</a></li>
                                              <li> <a href="#">For Men</a></li>
                                              <li> <a href="#">Stores</a></li>
                                              <li> <a href="#">Our Blog</a></li>
                                              <li> <a href="#">Shop</a></li>
                                            </ul>
                                    </div>
                                    <div class="col-md-4">
                                            <h6>Company</h6>
                                            <ul >
                                              <li> <a href="#">For Women</a></li>
                                              <li> <a href="#">For Men</a></li>
                                              <li> <a href="#">Stores</a></li>
                                              <li> <a href="#">Our Blog</a></li>
                                              <li> <a href="#">Shop</a></li>
                                            </ul>
                                    </div>
                                    <div class="col-md-4">
                                            <h6>Your account</h6>
                                            <ul >
                                              <li> <a href="#">For Women</a></li>
                                              <li> <a href="#">For Men</a></li>
                                              <li> <a href="#">Stores</a></li>
                                              <li> <a href="#">Our Blog</a></li>
                                              <li> <a href="#">Shop</a></li>
                                            </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
            </div>
            <div class="footer-bottom">
                    <div class="row">
                            <div class="col-md-4">
                                <p>© 2019 Your company.  All rights reserved.</p>
                            </div>
                            <div class="col-md-8">
                                    <ul class="text-lg-right">
                                        <li> <a href="#">Terms &amp; Conditions </a></li>
                                        <li> <a href="#">Privacy &amp; cookies </a></li>
                                        <li> <a href="#">Accessibility </a></li>
                                        <li> <a href="#">Customer Data Promise </a></li>
                                    </ul>
                                </div>
                        </div> 
            </div>
    </div>
</footer>