<header>
    <div class="imfor">
                <div class="container">
                        <div class="row">
                                <div class="col-md-3">
                                    <ul class="list-social-icon">
                                        <li><a href=""><i class="fab fa-facebook-f"></i></a></li>
                                        <li><a href=""><i class="fab fa-twitter"></i></a></li>
                                    </ul>
                                        
                                    <div class="tel">
                                        <a href="">020-800-456-747 <img src="{{ url_for('static', filename='images/phone-call.png') }}" alt=""></a>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                        <p class="text-center">Free in-store delivery </p>
                                </div>
                                <div class="col-md-3">
                                        <div class="select-group">
                                            <select>
                                                <option value="0">English</option>
                                                <option value="1">Viet nam</option>
                                            </select>
                            
                                            <select>
                                                <option value="0">USD</option>
                                                <option value="1">SGD</option>
                                                <option value="2">VND</option>
                                            </select>
                                        </div>
                                </div>
                            </div>
                </div>
        </div>

    </div>
    <div class="navbar-wrap">
            <div class="container">
                    <nav class="navbar navbar-expand-lg ">
                            <div class="row" style="width: 100%">
                                <div class="col-lg-7">
                                        <div id="navbarContent" class="">
                                                <ul class="navbar-nav">
                                                  <!-- Megamenu-->
                                                    <li class="nav-item"><a class="logo" href="{{ url_for('index') }}" class="navbar-brand"><img src="{{ url_for('static', filename='images/logo.png') }}" alt=""></a></li>
                                                  <li class="nav-item"><a href="" class="nav-link">Home</a></li>
                                                  <li class="nav-item dropdown megamenu"><a id="megamenu" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link dropdown-toggle">Shop</a>
                                                    <div aria-labelledby="megamenu" class="dropdown-menu">
                                                      <div class="container-fluid">
                                                        <div class="row">
                                                          <div class="col-12">
                                                            <div class="p-4">
                                                              <div class="row">
                                                                <div class="col-sm-6 col-lg-3 mb-4">
                                                                    
                                                                  <h6 class="font-weight-bold text-uppercase">Heading 1</h6>
                                                                  <ul class="list-unstyled">
                                                                    <li class="nav-item"><a href="#" class="nav-link text-small pb-0">Unique Features</a></li>
                                                                    <li class="nav-item"><a href="#" class="nav-link text-small pb-0 ">Image Responsive</a></li>
                                                                    <li class="nav-item"><a href="#" class="nav-link text-small pb-0 ">Auto Carousel</a></li>
                                                                    <li class="nav-item"><a href="#" class="nav-link text-small pb-0 ">Newsletter Form</a></li>
                                                                  </ul>
                                                                </div>
                                                                <div class="col-sm-6 col-lg-3 mb-4">
                                                                  <h6 class="font-weight-bold text-uppercase">Heading 2</h6>
                                                                  <ul class="list-unstyled">
                                                                    <li class="nav-item"><a href="" class="nav-link text-small pb-0 ">Unique Features</a></li>
                                                                    <li class="nav-item"><a href="" class="nav-link text-small pb-0 ">Image Responsive</a></li>
                                                                    <li class="nav-item"><a href="" class="nav-link text-small pb-0 ">Auto Carousel</a></li>
                                                                    <li class="nav-item"><a href="" class="nav-link text-small pb-0 ">Newsletter Form</a></li>
                                                                  </ul>
                                                                </div>
                                                                <div class="col-sm-6 col-lg-3 mb-4">
                                                                  <h6 class="font-weight-bold text-uppercase">Heading 3</h6>
                                                                  <ul class="list-unstyled">
                                                                    <li class="nav-item"><a href="" class="nav-link text-small pb-0 ">Unique Features</a></li>
                                                                    <li class="nav-item"><a href="" class="nav-link text-small pb-0 ">Image Responsive</a></li>
                                                                    <li class="nav-item"><a href="" class="nav-link text-small pb-0 ">Auto Carousel</a></li>
                                                                    <li class="nav-item"><a href="" class="nav-link text-small pb-0 ">Newsletter Form</a></li>
                                                                  </ul>
                                                                </div>
                                                                <div class="col-sm-6 col-lg-3 mb-4">
                                                                  <h6 class="font-weight-bold text-uppercase">Heading 4</h6>
                                                                  <ul class="list-unstyled">
                                                                    <li class="nav-item"><a href="" class="nav-link text-small pb-0 ">Unique Features</a></li>
                                                                    <li class="nav-item"><a href="" class="nav-link text-small pb-0 ">Image Responsive</a></li>
                                                                    <li class="nav-item"><a href="" class="nav-link text-small pb-0 ">Auto Carousel</a></li>
                                                                    <li class="nav-item"><a href="" class="nav-link text-small pb-0 ">Newsletter Form</a></li>
                                                                  </ul>
                                                                </div>
                                                              </div>
                                                            </div>
                                                          </div>
                                                        </div>
                                                      </div>
                                                    </div>
                                                  </li>
                                                  <li class="nav-item"><a href="" class="nav-link ">About</a></li>
                                                  <li class="nav-item"><a href="" class="nav-link ">Services</a></li>
                                                  <li class="nav-item"><a href="" class="nav-link ">Contact</a></li>
                                                </ul>
                                              </div>  
                                              <button type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbars" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler order-md-1">
                                                      <span class="navbar-toggler-icon"></span>
                                              </button>
                                </div>
                                <div class="col-lg-3">
                                    <div class="search-box">
                                            <input type="text" placeholder="Search">
                                            <i class="fas fa-search"></i>
                                    </div>
                                </div>
                                <div class="col-lg-2">
                                    <ul class="icon-header-list">
                                        <li><a href=""><img src="{{ url_for('static', filename='images/avatar.png') }}" alt=""></a></li>
                                        <li><a href=""><img src="{{ url_for('static', filename='images/like.png') }}" alt=""></a></li>
                                        <li><a href="/cart"><img src="{{ url_for('static', filename='images/shopping-bag.png') }}" alt=""></a></li>
                                    </ul>
                                </div>
                            </div>
                            
                          </nav>
            </div>
    </div>
    <div class="slider-wrapper">
        
            {% for slide_item in slides %}
                   <div class="slide_item">
                            <img src="{{ slide_item.image }}" width="100%" height="400px" alt="">
                            <div class="text">
                              <p>Our all-time favourites</p>
                              <h2>Blouses & Tops</h2>
                              <a href="">Discover more</a>
                            </div>
                   </div>
    
            {% endfor %}
            
    </div>
    
</header>