ul{
  padding-left: 0;
}
li{
  list-style: none;
}
/* dropdown menu */
.dropdown:hover > .dropdown-menu {
  display: block;
}

.megamenu {
  position: static;
}
.megamenu .dropdown-menu {
  border: none;
  width: 100%;
}
.logo img{
    height:45px
}

header {
  position: relative;
}

.navbar-wrap {
  position: absolute;
  top: 60px;
  left: 0;
  width: 100%;
  z-index: 333;
}
.navbar-wrap .nav-link {
  color: black;
  font-weight: 500;
}
.search-box{
  width: 100%;
  position: relative;
}
.search-box input{
  width: 100%;
  background: none;
  border: none;
  border-bottom: 1px solid #ced4da;
  padding: 5px 15px;
  color: #ced4da;
  outline: none;
}
.search-box i{
  color: #ced4da;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 15px;
}
.icon-header-list{
  display: flex;
  justify-content: flex-end;
}
.icon-header-list li{
  margin-left:20px
}
.icon-header-list img {
  height: 20px;
  width: 20px;
}

.imfor{
  position: absolute;
  top: 10px;
  left: 0;
  z-index: 2;
  width: 100%;
}

.imfor img{
  height: 20px;
}
.list-social-icon li{
  display: inline-block;
  padding-right:10px;
}
.list-social-icon li a{
  color: #000;
}
.list-social-icon{
  float: left;
  margin-right: 20px;
}
.imfor .tel a{
  color: #000
}
.imfor select {
  background: none;
  border: none;
  outline: none;
  margin-left:30px
}

.select-group{
  display: flex;
  justify-content: flex-end;
  align-items: center;
}



/* footer */
footer h6{
  font-size: 16px;
  font-weight: 700;
}

footer li a{
  color: #868e96;
  font-size: 14px;
}
footer button{
  background: none;
  border: none;
  outline: none;
  padding: 0;
}
footer button img{
  width: 35px;
  opacity: 0.5;
}
.footer-top{
  padding: 80px 0;
}
.footer-top p{
  font-size: 14px;
  color: #868e96;
  margin-bottom: 1rem;
}
.footer-top li {
  margin-bottom: 10px;
}
.footer-top form {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-top input[type="email"] {
  width: calc(100% - 55px);
  padding: 2px 10px;
  font-size: 14px;
}
.footer-bottom{
  padding: 24px 0;
  font-size: 14px;
  color: #ced4da;
}
.footer-bottom a{
  color: #ced4da;
}
.footer-bottom ul li{
  display: inline-block;
  margin-left: 10px;
}
form {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

input[type="email"] {
    width: calc(100% - 55px);
    padding: 2px 10px;
    font-size: 14px;
}