{% extends "admin/admin_base.html" %}
{% block body_admin %}
    <h1>Table product </h1> 
    <div class="container select-wrap">
        <select>
            <option value="hide">All properties</option>
            <option value="hide">All properties</option>
            <option value="hide">All properties</option>
        </select> 
        <select>
            <option value="hide">Today</option>
            <option value="hide">Yesterday</option>
            <option value="hide">This month</option>
        </select> 
        <div class="float-right">
            <a href="" class="btn-icon"><i class="fas fa-filter"></i> Filter</a>
            <a href="{{ url_for('.add_product') }}" class="btn-icon">+ Add product</a>
            <a href="" class="btn-icon">Export </a>
        </div>
    </div>
    <div class="container">
        <table  cellpadding="0" cellspacing="0" border="0" class="table_product">
            <tr>
                <th> <input type="checkbox" id="all_item" name="all_item"><label for="all_item"></label></th>
                <th>Name</th>
                <th>Image</th>
                <th>Price</th>
                <th>Sale Price</th>
                <th>Description</th>
                <th></th>
                <th></th>
            </tr>
            {% for item in product_main %}
            <tr>
                <td> <input type="checkbox" id="{{ item.name }}" name="{{ item.name }}"><label for="{{ item.name }}"></label></td>
                <td>{{ item.name }}</td>
                <td><img class="" src="../static/images/{{ item.image }}" alt="{{ item.name }}"></td>
                <td>{{ item.price }} $</td>
                <td>{{ item.sale_price }} $</td>
                <td>{{ item.des | safe }}</td>
                <td><a href="/admin/update/{{ item._id }}" class="" ><i class="fas fa-pencil-alt"></i> </a></td>
                <td><a href=""  class="delete_btn" data="{{ item._id }}"><i class="fas fa-trash-alt"></i></a></td>
            </tr>
            {% endfor %}
        </table>
        
    </div>
    
{% endblock %}